# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# DB & temp files
*.sqlite
*.sqlite3
*.db
*.tgz

# OS-specific
.DS_Store
Thumbs.db

# Swagger cache
swagger.json
.swagger/

# IDE/editor
.vscode/
.idea/

# Upload folders (if using local storage)
uploads/
